@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p>Easy!! Handling your employee information, we will do it for you.</p>
<p>This application gives you easy access to your employee information.</p>
<p>This is .NET Core MVC Web Application and integrate it with a SQL Server database to perform CRUD operations</p>
