@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Senor's and Senorita's, This is my contact page. </p>

<address>
    112 College Crescent<br />
    Barrie, ON, Canada<br />
    <abbr title="Phone">Phn:</abbr>
    +1(705) 791 4648
</address>
