@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Employee Register</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p>This is my assignment1 which is an Employee Register for various Companies.  </p>
    <p><a href="https://github.com/parthkumar9/Assignment1" class="btn btn-primary btn-lg">Source code on GitHub &raquo;</a></p>
</div>
